<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Report</title>
    <style>
      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }

      body {
        position: relative;
        width: 21cm;
        height: 29.7cm;
        margin: 0 auto;
        color: #001028;
        background: #FFFFFF;
        font-family: Arial, sans-serif;
        font-size: 12px;
        font-family: Arial;
      }

      header {
        padding: 10px 0;
        margin-bottom: 30px;
      }

      h1 {
        border-top: 1px solid  #5D6975;
        border-bottom: 1px solid  #5D6975;
        color: #5D6975;
        font-size: 2.4em;
        line-height: 1.4em;
        font-weight: normal;
        text-align: center;
        margin: 0 0 20px 0;
        background: url(dimension.png);
      }

      table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 20px;
      }

      table tr:nth-child(2n-1) td {
        background: #F5F5F5;
      }

      table td{
        padding: 20px;
        text-align: left;
      }

      table th{
        text-align: left;
      }

      table th {
        padding: 5px 20px;
        color: #5D6975;
        border-bottom: 1px solid #C1CED9;
        white-space: nowrap;
        font-weight: normal;
      }

      table .spent_time{
        text-align: right;
      }

      .grouped-description{
        padding-left: 35px;
      }

      .bold-font{
        font-weight: 600;
      }
    </style>
  </head>
  <body>
    <header class="clearfix">
      <h1><%= I18n.t('reports.title') %></h1>
      <h2><%= I18n.t('reports.for_user_by_period', user: (user.name || user.email), from: from_date.strftime("%d-%m-%Y"), to: to_date.strftime("%d-%m-%Y") ) %></h2>
      <p>
        <%= I18n.t('reports.projects') %>
        <%= projects.pluck(:name).join(", ") %>
      </p>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th><%= I18n.t('reports.project') %></th>
            <th><%= I18n.t('reports.date') %></th>
            <th><%= I18n.t('reports.employee') %></th>
            <th><%= I18n.t('reports.description') %></th>
            <th class='spent_time'><%= I18n.t('reports.total') %> <%= total_time %></th>
          </tr>
        </thead>
        <tbody>
          <% time_records.each do |time_records_pack| %>
            <% if time_records_pack.size > 1 %>
              <tr>
                <td><%= time_records_pack.map(&:project_id).uniq.size %></td>
                <td></td>
                <td><%= time_records_pack.map(&:user_id).uniq.length %></td>
                <td class="bold-font"><%= time_records_pack[0].description[0, 20] %>... + <%= time_records_pack.size - 1 %> tasks</td>
                <td class='spent_time bold-font'><%= time_records_pack.sum(&:calculated_spent_time) %></td>
              </tr>
            <% end %>

            <% time_records_pack.each do |time_record| %>
              <tr>
                <td><%= time_record.project.name %></td>
                <td><%= time_record.assigned_date %></td>
                <td><%= time_record.user.name %></td>
                <td class="<%= 'grouped-description' if time_records_pack.size > 1 %>"><%= time_record.description %></td>
                <td class='spent_time'><%= time_record.calculated_spent_time %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </main>
  </body>
</html>
